.Rproj.user
.Rhistory*
.Rdata
.httr-oauth
.DS_Store
.quarto
*.html
LICENSE.md
archive
class_level_analysis
coreplots
data/bacteria/basefiles_bact.RD
data/fungi/basefiles_fungi.RD
data-Eriador
figs
finalized_analysis_script_cache
manuscript
output
R_rm
sourcetracker*
Bact_spatialAnalysis.RData
Figure1*
jSDM*
MBOcc*
MTM2*
sjSDM*
stego_analysis*
tmp_bkg_run.R


