.Rproj.user
.Rhistory*
.Rdata
.httr-oauth
.DS_Store
.quarto
*.html
tmp_bkg_run.R
sourcetracker*
stego_analysis*
sjSDM*
MTM2*
MBOcc*
material-like.css
jSDM*
Figure1*
Bact_spatialAnalysis.RData
archive
class_level_analysis
coreplots
figs
finalized_analysis_script_cache
manuscript
output
R_rm
data
